* {
  margin: 0;
  padding: 0
}

.header-with-logo {
  align-items: center;
  display: flex;
  justify-content: space-between  ;
  font-size: 20px;
  font-weight: bold;
  color:darkslategrey;
  font-family:monospace;
}

.header {
  margin: 20px 600px;
}

.user-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 1px 1px darkslategrey;

}