* {
  margin: 0;
  padding: 0
}

.login-page {
  border: 2px solid gray;
  border-radius: 25px;
  box-shadow: 5px 5px 10px 5px gray;
  display: flex;
  flex-direction: column;
  margin-left: 40%;
  margin-top: 15%;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 40px;
  width: 25%;
}

.image-container {
  margin: 50px 0;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.register-form {
  border: 2px solid gray;
  border-radius: 25px;
  box-shadow: 5px 5px 10px 5px gray;
  display: flex;
  flex-direction: column;
  margin-left: 40%;
  margin-top: 15%;
  padding: 70px 70px;
  width: 25%;
}

.header-with-logo {
  align-items: center;
  display: flex;
  justify-content: space-between  ;
  font-size: 20px;
  font-weight: bold;
  color:darkslategrey;
  font-family:monospace;
}

.header {
  margin: 20px 600px;
}

.user-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 1px 1px darkslategrey;

}
.logout-button {
  margin: 0px 30px;
}

.pet-buttons-container {
  display: flex;
  flex-direction: column;
}
.pet-button {
  margin-bottom: 20px;
}

.register-pet-button {
  margin-top: 10px;
}

.register-form:nth-child(even) {
  margin-top:3%;
  margin-bottom: 3%;
}

.select-container {
  margin: 20px 0px;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
